* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Ensure the body covers the full viewport height */
}

body {
  background-image: url(./images/secondary_background.jpg);
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position: top; 
  position: relative;
  z-index: 0; 
  background-color: #0000008a !important;

}

/* body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
} */

/* main {
  position: relative;
  z-index: 3; 
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.card-img-wrap.position-relative {
    overflow: hidden;
    border-radius: 14px !important;
}